<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIxDsBb4mKj9iEkq56GtAJm1rYVyGFJWc</string>
	<key>GCM_SENDER_ID</key>
	<string>809505306698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marinanoapp.uni-cpbl</string>
	<key>PROJECT_ID</key>
	<string>un-cpbl</string>
	<key>STORAGE_BUCKET</key>
	<string>un-cpbl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809505306698:ios:b11c43fbe5e84e5be90eb3</string>
</dict>
</plist>